html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#container {
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: auto;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  width: 220px;
  height: auto
  max-width: 100%;
  float: left;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#map {
  width: auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* Check display flex at, or google how to center divs https://flexboxfroggy.com/*/
#video-container {
  height: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}



#video-main{
  background-color: white;
  width: 600px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

#v1{
  width: 100%;
  height: 100%;
}

#video-2{
  background-color: white;
  width: 400px;
  height: 280px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);


}

#v2{
  width: 100%;
  height: 100%;
}

#confidence-window {
width: 300px;
height: 160px;
padding: 10px;
top: 100px;
left: 100px;
/*margin: -80px 0 0 -60px;*/
background-color: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
#confidence-window .hidden {
display: none;
}
#confidence-window-window p {
margin: 0;
font-family: sans-serif;
font-size: 16px;
line-height: 20px;
}

#xmap:hover {
      cursor: -webkit-grab;
      cursor: grab;
      }

#device-text{
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

#instrucitons-container {
  height: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}


#instrucitons {
  list-style-type: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#sortable{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
}
#sortable.li{
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}
#sortable.li.span{
  position: absolute;
  margin-left: -1.3em;
}

.list-instruction-item {
    position: relative;
    /*display: block;*/
    padding: 2px 2px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.ui-first-instruction {
    background-color: #6daf7c;
}

/* .ui-last-instruction {
    background-color: #cd7979;
} */

.control{
	padding: 0px 0px 10px 0px;
}
#coe-slider{

}
.svg-container {
	/*display: inline-block;*/
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0;
}


#infoWindowContent {
	max-width: 300px;
}
#info-window {
position: absolute;
width: 250px;
height: auto;
padding: 10px;
top: 100px;
left: 100px;
/*margin: -80px 0 0 -60px;*/
background-color: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
#info-window.hidden {
display: none;
}

#tooltip {
position: absolute;
width: 200px;
height: auto;
padding: 10px;
background-color: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
pointer-events: none;
}
#tooltip.hidden {
display: none;
}
#tooltip p {
margin: 0;
font-family: sans-serif;
font-size: 16px;
line-height: 20px;
}


#instruction-info {
position: absolute;
width: 80%;
height: 80%;
padding: 10px;
top: 50px;
left: 10%;
background-color: white;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
#instruction-info.hidden {
display: none;
}
#instruction-info p {
margin: 0;
font-family: sans-serif;
font-size: 16px;
line-height: 20px;
}

#instruction-content {
  width: auto;
  height: 95%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow-x: hidden;
  overflow-y: auto;
}


#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}

#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
